.main-footer {
  background-color: cyan;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 240px;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-logo {
  width: 132px;
  height: 38px;
}

.contacts {
  display: flex;
  gap: 0 70px;
}

.contact-email, .contact-phone { display: block; }