.main-header {
  display: flex;
  justify-content: space-between;
  padding: 80px 80px;
}

.header-logo {
  width: 180px;
  height: 52px;

  & a { display: block; }
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  list-style-type: none;
}

.navbar-item {
  margin-right: 48px;
}

.navbar-link {
  color: var(--color-text-link-normal);
}

.help-center {
  border-radius: 6px;
  font-size: 22px;
  font-weight: 600;
  background-color: var(--background-color-primary);
}