.btn {
  display: block;
  border-radius: 20px;
  border-width: var(--border-btn-width-default);
  border-style: var(--border-btn-style-default);
  cursor: pointer;
}

@media (width >= 768px) {
  .btn-link {
    padding: 12px 42.5px;
  }
}

@media (min-width: 1440px) {
  .btn {
    border-radius: 25px;
  }
  
  .btn-link {
    padding: 13px 43.5px;
  }
}
