.btn {
  display: block;
  border-radius: 20px;
  border-width: var(--border-btn-width-default);
  border-style: var(--border-btn-style-default);
  font-size: var(--font-size-xxsmall);
  cursor: pointer;
}

/* For tablet devices */
@media (min-width: 768px) {
  .btn-link {
    padding: 12.5px 34.5px;
  }
}

/* For desktop devices */
@media (min-width: 1440px) {
  .btn {
    border-radius: 25px;
    font-size: var(--font-size-base);
  }
  
  .btn-link {
    padding: 14px 39.5px;
  }
}
