.places-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 40px;
}

.places-heading {
  margin-bottom: 18px;
  color: var(--color-text-secondary);
}

.select-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.dropdown-icon {
  content: "\25BC";
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-places-locations {
  border: 1px var(--border-btn-style-default) var(--border-color-secondary);
  border-radius: 20px;
  padding: 3px 25.5px;
  font-size: var(--font-size-xsmall);
  line-height: var(--line-height-md);
  text-transform: uppercase;
  color: var(--color-text-secondary);
  appearance: none;
  cursor: pointer;
}

.list-places-locations {
  display: none;
}

.places-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.places-image {
  transition-property: transform;
  transition-duration: 150ms;
  width: 116px;
  height: 116px;

  &:hover {
    transform: scale(1.04);
  }
}

/* For tablet devices */
@media (min-width: 768px) {
  .places-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 48px;
  }

  .select-wrapper {
    display: none;
  }

  .list-places-locations {
    display: flex;
  }

  .places-heading {
    margin-bottom: 11px;
  }

  .list-places-locations {
    place-items: center;
    gap: 0 54px;
    margin-bottom: 20px;
  }

  .places-location {
    font-size: var(--font-size-xsmall);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-small);
    text-transform: uppercase;
  }

  .location-link {
    display: block;
    cursor: pointer;

    &.active {
      border-radius: 4px;
      padding: 6px 12px;
      box-shadow: 0 0 6px var(--box-shadow-card);
      background-color: var(--background-color-btn-primary);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .places-images {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .places-image {
    width: 192px;
    height: 192px;
  }
}

/* For desktop devices */
@media (min-width: 1440px) {
  .places-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 67px;
    padding-bottom: 85px;
  }

  .places-heading {
    margin-bottom: 20px;
  }

  .list-places-locations {
    margin-bottom: 30px;
  }

  .places-location {
    line-height: var(--line-height-lg);
    letter-spacing: var(--letter-spacing-md);
  }

  .places-images {
    gap: 24px;
  }

  .places-image {
    width: 300px;
    height: 300px;
  }
}