.team-section {
  color: var(--color-text-secondary);
}

.team-container {
  padding-top: 40px;
  padding-bottom: 71px;
}

.team-heading {
  margin-bottom: 24px;
}

.team-members {
  gap: 36px 0;
  justify-content: center;
}

.team-member {
  display: flex;
  align-items: start;
  gap: 0 21px;
  max-width: 285px;
}

.member-name {
  margin-bottom: 4px;
  font-size: var(--font-size-xsmall);
}

.member-avatar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 48px;
  aspect-ratio: 1 / 1;
}

.avatar-img {
  border: 2px var(--border-btn-style-default) var(--border-color-avatar);
  border-radius: 50%;
  background-color: var(--border-color-avatar);

  &.img-default {
    height: 100%;
    object-fit: cover;
  }
}

.member-role {
  margin-bottom: 9px;
  font-size: var(--font-size-xxsmall);
}

.member-bio {
  font-size: var(--font-size-xxsmall);
  line-height: var(--line-height-md);
}

@media (min-width: 768px) {
  .team-heading {
    margin-bottom: 23px;
  }

  .team-member {
    gap: 0 16.5px;
  }

  .member-avatar {
    flex-basis: 62px;
  }

  .team-members {
    gap: 36px 30px;
  }
}

@media (min-width: 1440px) {
  .team-container {
    padding-top: 54px;
    padding-bottom: 103px;
  }

  .team-heading {
    margin-bottom: 53px;
  }

  .team-members {
    gap: 74px 50px;
  }

  .team-member {
    max-width: 340px;
  }

  .member-avatar {
    flex-basis: 80px;
  }

  .avatar-img {
    border-width: 1px;
  }

  .member-role {
    margin-bottom: 14px;
  }
}
