.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* For tablet devices */
@media (min-width: 768px) {
  .container {
    padding-left: 26px;
    padding-right: 26px;
  }
}

/* For desktop devices */
@media (min-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}