.container {
  margin-left: auto;
  margin-right: auto;
  width: 93.75vw;
  max-width: 720px;
}

@media (width >= 768px) {
  .container {
    max-width: 1140px;
  }
}

@media (width >= 1440px) {
  .container {
    width: 79vw;
  }
}