.main-footer {
  background-color: var(--background-color-primary);
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.footer-top {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 33px;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--border-color-footer);
}

.about-us {
  grid-column: span 2;
}

.footer-heading {
  margin-bottom: 16px;
  font-size: var(--font-size-xsmall);
  letter-spacing: var(--letter-spacing-md);
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.contact-address,
.about-us,
.copyright-text,
.navigate-text {
  font-size: var(--font-size-xxsmall);
  line-height: var(--line-height-md);
  color: var(--color-text-footer);
}

.contact-location {
  max-width: 125px;
}

.contact-address {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: start;
}

.contact-phone,
.contact-email {
  &:hover {
    color: var(--color-text-primary);
  }
}

.social-links {
  display: flex;
  align-items: center;
  gap: 17.5px;
}

.social-icon-link {
  display: block;
}

.social-icon-svg {
  width: 18px;
  height: 18px;
  fill: var(--color-text-primary);
  opacity: 0.5;

  &.pinterest-svg {
    width: 22px;
    height: 22px;
  }

  &.twitter-svg {
    width: 21px;
    height: 21px;
  }

  &:hover {
    fill: var(--color-text-tertiary);
  }
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 12px;
}

.copyright-text {
  align-self: center;
}

.footer-navbar {
  order: -1;
  grid-column: span 2;
}

.footer-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 14px;
  text-transform: uppercase;
}

.footer-nav-link {
  display: block;
  font-size: var(--font-size-xxsmall);
  line-height: var(--line-height-md);
  color: var(--color-text-primary);

  &:hover {
    text-decoration: underline;
  }
}

.navigate-to-top {
  justify-self: self-end;
  display: flex;
  align-items: center;
  gap: 0 13px;
}

.btn-top {
  display: flex;
  place-items: center;
  transition-duration: 150ms;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  background-color: var(--background-color-btn-primary);

  &:hover {
    transform: scale(1.05);
    transform: translateY(-3px);
  }
}

.btn-top-svg {
  width: 100%;
  height: 12px;
  fill: var(--color-text-secondary);
}

@media (min-width: 768px) {
  .footer-container {
    padding-top: 20px;
    padding-bottom: 28px;
  }

  .footer-top {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: none;
    gap: 0 62px;
  }

  .footer-bottom {
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: none;
  }

  .footer-navbar {
    order: 0;
    grid-column: auto;
  }

  .footer-nav-links {
    justify-content: initial;
    align-items: center;
    gap: 0 18px;
  }
  
  .contact-address {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .contact-location {
    grid-row: span 2;
  }

  .contact-phone {
    grid-column: 2;
    grid-row: 1;
  }

  .contact-email {
    grid-column: 2;
    grid-row: 2;
  }

  .about-us {
    grid-column: auto;
    margin-left: 30px;
  }

  .navigate-text {
    display: none;
  }
}

@media (min-width: 1440px) {
  .footer-container {
    padding-top: 50px;
    padding-bottom: 44px;
  }

  .footer-heading {
    margin-bottom: 24px;
  }
  
  .contact-address,
  .about-us,
  .copyright-text,
  .navigate-text {
    font-size: var(--font-size-base);
  }

  .contact-address {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    gap: 0 54px;
  }

  .contact-location {
    grid-row: span 3;
    max-width: 133px;
  }

  .social-links {
    gap: 40.5px;
  }

  .social-icon-svg {
    width: 25px;
    height: 25px;
  
    &.pinterest-svg {
      width: 30.5px;
      height: 30.5px;
    }
  
    &.twitter-svg {
      width: 29px;
      height: 29px;
    }
  }

  .footer-nav-links {
    gap: 0 42px;
  }

  .footer-nav-link {
    font-size: var(--font-size-xsmall);
  }

  .about-us {
    margin-left: 75px;
  }

  .footer-bottom {
    padding-top: 29px;
  }

  .btn-top {
    width: 36px;
    height: 36px;
  }
}