.main-footer {
  background-color: var(--background-color-primary);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 32px;
  padding-bottom: 28px;
}

.subsection-heading {
  font-size: var(--font-size-xsmall);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-text-primary);
}

.contact-address {
  font-size: var(--font-size-xxsmall);
  line-height: var(--line-height-md);
  color: var(--color-text-primary);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 17.5px;
}

.social-icon-svg {
  display: block;
  width: 18px;
  height: 18px;
  opacity: 0.5;

  &.pinterest-svg {
    width: 22px;
    height: 22px;
  }

  &.twitter-svg {
    width: 21px;
    height: 21px;
  }
}

.btn-top {
  display: flex;
  place-items: center;
  width: 24px;
  height: 24px;
}

@media (min-width: 1440px) {
  .contact-address {
    font-size: var(--font-size-base);
  }
}