<section class="hero-section">
  <div class="container hero-container">
    <hgroup class="hero-introduction">
      <h2 class="hero-heading">Choosing The Right Boutique Hotel For You</h2>
      <p class="hero-content">How To Fly A Private Jet On Your Next Trip</p>
    </hgroup>

    <form action="" class="hero-form">
      <input type="email" class="input hero-input" placeholder="Your Email">
      <button type="button" class="btn btn-hero">Find Now</button>
    </form>

    <ul class="hero-icons">
      <li class="hero-icon">
        <a href="javascript:void(0)" class="icon-link">
          <svg class="hero-icon-svg" width="50" height="50">
            <use xlink:href="assets/images/hero-icons.svg#plane-icon"></use>
          </svg>
        </a>
      </li>
      <li class="hero-icon">
        <a href="javascript:void(0)" class="icon-link">
          <svg class="hero-icon-svg" width="50" height="50">
            <use xlink:href="assets/images/hero-icons.svg#wallet-icon"></use>
          </svg>
        </a>
      </li>
      <li class="hero-icon">
        <a href="javascript:void(0)" class="icon-link">
          <svg class="hero-icon-svg" width="50" height="50">
            <use xlink:href="assets/images/hero-icons.svg#case-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>