<section class="places-section">
  <div class="container places-container">
    <h2 class="places-heading">Places</h2>

    <div class="select-wrapper">
      <select title="location" name="location" class="select-places-locations">
        <option selected value="san-francisco">San Francisco</option>
        <option value="south-liliana">South Liliana</option>
        <option value="blickview">Blickview</option>
        <option value="new raven">New Raven</option>
      </select>
    </div>

    <ul class="list-places-locations">
      <li class="places-location">San Francisco</li>
      <li class="places-location">South Liliana</li>
      <li class="places-location">Blickview</li>
      <li class="places-location">New Raven</li>
    </ul>

    <ul class="places-images">
      <li>
        <img
          srcset=
            "assets/images/places-images/city-skyline-300x300.png 300w,
            assets/images/places-images/city-skyline-192x192.png 192w,
            assets/images/places-images/city-skyline-116x116.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="City Skyline">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/rock-in-the-sea-300x300.png 300w,
            assets/images/places-images/rock-in-the-sea-192x192.png 192w,
            assets/images/places-images/rock-in-the-sea-116x116.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Rock in the sea">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/misty-golden-gate-bridge-300x300.png 300w,
            assets/images/places-images/misty-golden-gate-bridge-192x192.png 192w,
            assets/images/places-images/misty-golden-gate-bridge-116x116.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Misty Golden Gate Bridge">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/golden-gate-bridge-scenic-view-300x300.png 300w,
            assets/images/places-images/golden-gate-bridge-scenic-view-192x192.png 192w,
            assets/images/places-images/golden-gate-bridge-scenic-view-116x116.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Golden Gate Bridge">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/golden-gate-bridge-overview-300x300.png 300w,
            assets/images/places-images/golden-gate-bridge-overview-192x192.png 192w,
            assets/images/places-images/golden-gate-bridge-overview-116x116.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Golden Gate Bridge">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/foggy-golden-gate-bridge-300x300.png 300w,
            assets/images/places-images/foggy-golden-gate-bridge-192x192.png 192w,
            assets/images/places-images/foggy-golden-gate-bridge-116x116.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Golden Gate Bridge">
      </li>
    </ul>
  </div>
</section>