<section class="places-section">
  <div class="container places-container">
    <h2 class="places-heading">Places</h2>

    <div class="select-wrapper">
      <select title="location" name="location" class="select-places-locations">
        <option selected value="san-francisco">San Francisco</option>
        <option value="south-liliana">South Liliana</option>
        <option value="blickview">Blickview</option>
        <option value="new raven">New Raven</option>
      </select>
    </div>

    <ul class="list-places-locations">
      <li class="places-location">
        <input id="san-francisco" type="radio" name="location" class="location-radio">
        <label for="san-francisco" class="location">
          San Francisco
        </label>
      </li>
      <li class="places-location">
        <input id="south-liliana" type="radio" name="location" class="location-radio">
        <label for="south-liliana" class="location">
          South Liliana
        </label>
      </li>
      <li class="places-location">
        <input id="blickview" type="radio" name="location" class="location-radio">
        <label for="blickview" class="location">
          Blickview
        </label>
      </li>
      <li class="places-location">
        <input id="new-raven" type="radio" name="location" class="location-radio">
        <label for="new-raven" class="location">
          New Raven
        </label>
      </li>
    </ul>

    <ul class="places-images">
      <li>
        <img
          srcset=
            "assets/images/places-images/city-skyline-desktop.png 300w,
            assets/images/places-images/city-skyline-tablet.png 192w,
            assets/images/places-images/city-skyline-mobile.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="City Skyline">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/rock-in-the-sea-desktop.png 300w,
            assets/images/places-images/rock-in-the-sea-tablet.png 192w,
            assets/images/places-images/rock-in-the-sea-mobile.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Rock in the sea">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/misty-golden-gate-bridge-desktop.png 300w,
            assets/images/places-images/misty-golden-gate-bridge-tablet.png 192w,
            assets/images/places-images/misty-golden-gate-bridge-mobile.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Misty Golden Gate Bridge">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/golden-gate-bridge-scenic-view-desktop.png 300w,
            assets/images/places-images/golden-gate-bridge-scenic-view-tablet.png 192w,
            assets/images/places-images/golden-gate-bridge-scenic-view-mobile.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Golden Gate Bridge">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/golden-gate-bridge-overview-desktop.png 300w,
            assets/images/places-images/golden-gate-bridge-overview-tablet.png 192w,
            assets/images/places-images/golden-gate-bridge-overview-mobile.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Golden Gate Bridge">
      </li>
      <li>
        <img
          srcset=
            "assets/images/places-images/foggy-golden-gate-bridge-desktop.png 300w,
            assets/images/places-images/foggy-golden-gate-bridge-tablet.png 192w,
            assets/images/places-images/foggy-golden-gate-bridge-mobile.png 116w"
          sizes=
            "(min-width: 1440px) 300px,
            (min-width: 768px) 192px,
            116px"
          alt="Golden Gate Bridge">
      </li>
    </ul>
  </div>
</section>