<section class="places-section">
  <div class="container places-container">
    <h2 class="places-heading">Places</h2>

    <select name="location" class="select-places-locations">
      <option value="san-francisco">San Francisco</option>
      <option value="south-liliana">South Liliana</option>
      <option value="blickview">Blickview</option>
      <option value="new raven">New Raven</option>
    </select>

    <ul class="list-places-locations">
      <li>San Francisco</li>
      <li>South Liliana</li>
      <li>Blickview</li>
      <li>New Raven</li>
    </ul>

    <ul class="places-images">
      <li>
        <img
          class="img"
          srcset=
            "assets/images/places-images/city-skyline-116x116.png 116w,
            assets/images/places-images/city-skyline-300x300.png 300w"
          sizes=
            "(min-width: 768px) 192px,
            (min-width: 800px) 300px,
            116px"
     alt="Image 1">
      </li>
    </ul>
  </div>
</section>