<section class="section-plan">
  <div class="container plan-container">
    <h2 class="plan-heading">Choose Your Plan</h2>
    <section class="choose-plan">
      <div class="plan-card plan-card-silver">
        <h3 class="card-heading">Silver</h3>
        <div class="plan-pricing-info">
          <strong class="plan-price">
            <sup class="price-symbol">$</sup>49
          </strong>
          <span class="plan-duration">Year</span>
        </div>

        <ul class="plan-benefits">
          <li class="benefits-item">
            <p class="plan-benefit">Personal Account</p>
          </li>
          <li class="benefits-item">
            <p class="plan-benefit">25 GB Discspace</p>
          </li>
          <li class="benefits-item">
            <p class="plan-benefit">50 Uploads per day</p>
          </li>
        </ul>
        <a href="javascript:void(0)" class="btn btn-purchase">Purchase</a>
      </div>
    </section>
  </div>
</section>