<section class="team-section">
  <div class="container team-container">
    <h2 class="section-heading team-heading">Our Team</h2>
    <ul class="team-members grid-row">
      <li class="team-member grid-col grid-col-md-6 grid-col-xl-4">
        <figure class="member-avatar">
          <img src="assets/images/member-avatars/member-craig-todd.png" alt="Member avatar"
            class="img-default avatar-img">
        </figure>
        <section class="member-info">
          <h3 class="member-name">Craig Todd</h3>
          <h4 class="member-role">CEO</h4>
          <p class="member-bio">
            Like the majority of sales people, I visit a huge
            number of clients and prospects every month
          </p>
        </section>
      </li>
      <li class="team-member grid-col grid-col-md-6 grid-col-xl-4">
        <figure class="member-avatar">
          <img src="assets/images/member-avatars/member-vera-hopkins.png" alt="Member avatar"
            class="img-default avatar-img">
        </figure>
        <section class="member-info">
          <h3 class="member-name">Vera Hopkins</h3>
          <h4 class="member-role">UX Lead</h4>
          <p class="member-bio">
            Differentiate Yourself And Attract
            More Attention Sales And Profits
          </p>
        </section>
      </li>
      <li class="team-member grid-col grid-col-md-6 grid-col-xl-4">
        <figure class="member-avatar">
          <img src="assets/images/member-avatars/member-jennie-graham.png" alt="Member avatar"
            class="img-default avatar-img">
        </figure>
        <section class="member-info">
          <h3 class="member-name">Jennie Graham</h3>
          <h4 class="member-role">UX/UI Designer</h4>
          <p class="member-bio">WordPress Version 2 0 3 Review</p>
        </section>
      </li>
      <li class="team-member grid-col grid-col-md-6 grid-col-xl-4">
        <figure class="member-avatar">
          <img src="assets/images/member-avatars/member-eunice-wong.png" alt="Member avatar"
            class="img-default avatar-img">
        </figure>
        <section class="member-info">
          <h3 class="member-name">Eunice Wong</h3>
          <h4 class="member-role">Marketing consultant</h4>
          <p class="member-bio">
            Advertising Internet Online
            Opportunities To Explore
          </p>
        </section>
      </li>
      <li class="team-member grid-col grid-col-md-6 grid-col-xl-4">
        <figure class="member-avatar">
          <img src="assets/images/member-avatars/member-chase-meyer.png" alt="Member avatar"
            class="img-default avatar-img">
        </figure>
        <section class="member-info">
          <h3 class="member-name">Chase Meyer</h3>
          <h4 class="member-role">Front-end Developer</h4>
          <p class="member-bio">Search Engine Optimization And Advertising</p>
        </section>
      </li>
      <li class="team-member grid-col grid-col-md-6 grid-col-xl-4">
        <figure class="member-avatar">
          <img src="assets/images/member-avatars/member-johnny-vargas.png" alt="Member avatar"
            class="img-default avatar-img">
        </figure>
        <section class="member-info">
          <h3 class="member-name">Johnny Vargas</h3>
          <h4 class="member-role">Back-end Developer</h4>
          <p class="member-bio">
            Maintain Your PC S
            Performance With PC Programs
          </p>
        </section>
      </li>
    </ul>
  </div>
</section>