/* 1 rem is defined as 16px */
:root {
  --base-font-size: 16;

  --font-size-xxsmall: calc(11 / var(--base-font-size) * 1rem);
  --font-size-xsmall: calc(12 / var(--base-font-size) * 1rem);
  --font-size-lg: calc(20 / var(--base-font-size) * 1rem);
  --font-size-xl: calc(24 / var(--base-font-size) * 1rem);
  --font-size-2xl: calc(36 / var(--base-font-size) * 1rem);

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --letter-spacing-xxsmall: -1.3px;
  --letter-spacing-xsmall: -0.8px;
  --letter-spacing-md: .67px;
  --letter-spacing-xl: 2px;
  --letter-spacing-2xl: 2.487px;

  --line-height-md: calc(16 / var(--base-font-size) * 1rem);
  --line-height-lg: calc(24 / var(--base-font-size) * 1rem);
  --line-height-2lg: calc(27 / var(--base-font-size) * 1rem);
  --line-height-xl: calc(40 / var(--base-font-size) * 1rem);
  --line-height-2xl: calc(48 / var(--base-font-size) * 1rem);

  --background-color-primary: #4b4b4b;
  --background-color-fallback: #d3d3d3;

  --background-color-btn-primary: #ebcb80;
  --background-color-btn-secondary: #4b4b4b;

  --background-color-translucent-white: #ffffff38;
  --background-color-transparent-white: #fff0;

  --background-color-card-gold: #f0d691;
  --background-color-transparent-black: #00000000;
  --background-color-translucent-black: #00000066;

  --box-shadow-card: rgba(0, 0, 0, 0.50);

  --border-color-primary: #999;
  --border-color-secondary: #4b4b4b;
  --border-color-avatar: #afafaf;
  --border-color-footer: #7d7d7d;

  --color-text-primary: #fff;
  --color-text-secondary: #4b4b4b;
  --color-text-tertiary: #ebcb80;
  --color-text-unique: #3c3c3c;
  --color-text-footer: #ffffffb0;

  --color-text-hover-primary: #d8cccc;

  --border-btn-width-default: 2px;
  --border-btn-style-default: solid;

  --border-input-width-default: 1px;
  --border-input-style-default: solid;
}

@media (min-width: 768px) {
  :root {
    --font-size-xxsmall: calc(11 / var(--base-font-size) * 1rem);
    --font-size-xsmall: calc(12 / var(--base-font-size) * 1rem);
    --font-size-lg: calc(24 / var(--base-font-size) * 1rem);
    --font-size-xl: calc(32 / var(--base-font-size) * 1rem);
    --font-size-2xl: calc(36 / var(--base-font-size) * 1rem);

    --letter-spacing-xxsmall: -1.3px;
    --letter-spacing-xsmall: -0.8px;
    --letter-spacing-small: 0.133px;
    --letter-spacing-md: .67px;
    --letter-spacing-xl: 2px;

    --line-height-md: calc(16 / var(--base-font-size) * 1rem);
    --line-height-2md: calc(24 / var(--base-font-size) * 1rem);
    --line-height-lg: calc(27 / var(--base-font-size) * 1rem);
    --line-height-2lg: calc(36 / var(--base-font-size) * 1rem);
    --line-height-xl: calc(40 / var(--base-font-size) * 1rem);
    --line-height-2xl: calc(48 / var(--base-font-size) * 1rem);
  }
}

@media (min-width: 1440px) {
  :root {
    --font-size-xxsmall: calc(14 / var(--base-font-size) * 1rem);
    --font-size-base: calc(16 / var(--base-font-size) * 1rem);
    --font-size-xsmall: calc(18 / var(--base-font-size) * 1rem);
    --font-size-small: calc(24 / var(--base-font-size) * 1rem);
    --font-size-lg: calc(36 / var(--base-font-size) * 1rem);
    --font-size-xl: calc(44 / var(--base-font-size) * 1rem);
    --font-size-2xl: calc(64 / var(--base-font-size) * 1rem);

    --line-height-md: calc(24 / var(--base-font-size) * 1rem);
    --line-height-lg: calc(27 / var(--base-font-size) * 1rem);
    --line-height-2lg: calc(36 / var(--base-font-size) * 1rem);
    --line-height-xl: calc(40 / var(--base-font-size) * 1rem);
    --line-height-2xl: calc(48 / var(--base-font-size) * 1rem);

    --letter-spacing-xxsmall: -2.3px;
    --letter-spacing-xsmall: -1.6px;
    --letter-spacing-md: 1px;
    --letter-spacing-xl: 2.49px;
    
    --line-height-md: calc(24 / var(--base-font-size) * 1rem);
    --line-height-lg: calc(27 / var(--base-font-size) * 1rem);
    --line-height-2lg: calc(36 / var(--base-font-size) * 1rem);
    --line-height-xl: calc(40 / var(--base-font-size) * 1rem);
    --line-height-2xl: calc(48 / var(--base-font-size) * 1rem);
  }
}