.btn {
  border-radius: 6px;
  padding: 14px 30px;
  font-size: var(--font-size-medium);
  color: var(--color-text-link-special);
  transition-duration: .3s;
  transition-property: background-color, box-shadow, transform;
  cursor: pointer;
}

.btn-primary {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  background-color: var(--background-color-tertiary);

  &:hover,
  &:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}

.btn-download {
  display: inline-flex;
  gap: 0 10px;
  align-items: center;
}