:root {
  --color-text-link-normal: #000;
  --color-text-link-special: #fff;
  --color-text-primary: #9e9da2;
  --color-text-secondary: #fff;
  --color-text-tertiary: #75bf7a;
  --background-color-primary: #75bf7a;
  --background-color-secondary: #f9f9f9;
  --background-color-tertiary: #000;
}