:root {
  --color-text-link-normal: #000;
  --color-text-link-special: #fff;
  --color-text-primary: #9e9da2;
  --color-text-secondary: #fff;
  --color-text-tertiary: #75bf7a;
  --color-text-info: #8b8ba5;
  
  --background-color-primary: #75bf7a;
  --background-color-secondary: #f9f9f9;
  --background-color-tertiary: #000;
  --background-color-card: #fff;
  --background-color-btn-hover: #00af7a;

  --font-size-xsmall: 17px;
  --font-size-small: 20px;
  --font-size-medium: 22px;
  --font-size-large: 24px;
  --font-size-xl: 34px;
  --font-size-2xl: 46px;
  --font-size-3xl: 60px;
  --font-size-4xl: 65px;
  --font-size-5xl: 88px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;
}