<footer class="main-footer">
  <div class="container footer-container">
    <div class="footer-top">
      <section class="contact-us">
        <h4 class="subsection-heading contact-heading">
          Contact Us
        </h4>
        <address class="contact-address">
          <p class="contact-location">
            2300 W Arbutus Dr Citrus Springs, FL 34434, USA
          </p>
          <a href="tel:+2357938917938" class="contact-phone">
            +235 793-891-7938
          </a>
          <a href="mailto:contact@hofmannui.net" class="contact-email">
            contact@hofmannui.net
          </a>
        </address>
      </section>

      <section class="follow-us">
        <h4 class="subsection-heading follow-heading">
          Follow Us
        </h4>
        <ul class="social-links">
          <li class="social-link">
            <a class="social-icon-link" href="javascript:void(0)">
              <svg class="social-icon-svg pinterest-svg">
                <use xlink:href="assets/images/social-icons.svg#pinterest-icon"></use>
              </svg>
            </a>
          </li>
          <li class="social-link">
            <a class="social-icon-link" href="javascript:void(0)">
              <svg class="social-icon-svg twitter-svg">
                <use xlink:href="assets/images/social-icons.svg#twitter-icon"></use>
              </svg>
            </a>
          </li>
          <li class="social-link">
            <a class="social-icon-link" href="javascript:void(0)">
              <svg class="social-icon-svg facebook-svg">
                <use xlink:href="assets/images/social-icons.svg#facebook-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </section>

      <section class="about-us">
        <h4 class="subsection-heading about-heading">
          About Us
        </h4>
        <p class="about-content">
          Hoffman UI Kit was made to help you quickly
          create beautiful layouts of responsive websites.
        </p>
      </section>
    </div>

    <div class="footer-bottom">
      <p class="copyright-text">
        &copy; 2016 Hofmann UI Kit
      </p>
      <nav class="footer-navbar">
        <ul class="footer-nav-links">
          <li class="footer-nav-item">
            <a href="javascript:void(0)" class="footer-nav-link">Home</a>
          </li>
          <li class="footer-nav-item">
            <a href="javascript:void(0)" class="footer-nav-link">Services</a>
          </li>
          <li class="footer-nav-item">
            <a href="javascript:void(0)" class="footer-nav-link">Team</a>
          </li>
          <li class="footer-nav-item">
            <a href="javascript:void(0)" class="footer-nav-link">Portfolio</a>
          </li>
          <li class="footer-nav-item">
            <a href="javascript:void(0)" class="footer-nav-link">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="navigate-to-top">
        <span class="navigate-text">
          To the Top
        </span>
        <a href="#" class="btn-top">
          <svg class="btn-top-svg">
            <use xlink:href="assets/images/menu-icons.svg#go-top-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>