<header class="main-header">
  <div class="container header-container">
    <h1 class="brand-name">
      <a href="#">Hofmann</a>
    </h1>
    
    <label class="menu-toggle" for="menu-toggle-checkbox">
      <svg width="16" height="14">
        <use xlink:href="assets/images/menu-icons.svg#hamburger-menu"></use>
      </svg>
    </label>
    <input type="checkbox" id="menu-toggle-checkbox" class="menu-toggle-checkbox">

    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">Mission</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link btn btn-link">Take a tour</a>
        </li>
      </ul>
    </nav>
  </div>
</header>